@model IEnumerable<BbWeb.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id No</th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a> |
               
                @Html.ActionLink("Delete","Delete",new { id=item.Id },
                new{onclick="return confirm('Are you sure to delete this...?')"})
            </td>
        </tr>
}
    </tbody>
</table>
